<form action="/cerealkiller" method="post">
  <!-- name= params comes thru -->
  <input type="text" name="name" placeholder="name">
  <input type="text" name="brand" placeholder="da brand">
  <input type="submit" value="Make that Cereal Killer!">
</form>
