<h1> COOKIEEEZZ indexxxxxxx </h1>

<ul>
  <% @cookies.each do |cookie| %>
    <li><%= cookie.flavor %></li>
  <% end %>
</ul>

<!--
t.boolean :delicious
    t.string :flavor
    t.integer :size
    t.boolean :gluten_free -->
